---
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import { getCollection } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'
import ContentTag from '../components/ContentTag.astro'

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
).filter((post) => !post.data.editing)

const images = import.meta.glob<{ default: ImageMetadata }>(`/src/content/assets/hero-images/*.{jpeg,jpg,png,gif}`)
posts.map((post) => {
	if (!images[post.data.heroImage]) throw new Error(`"${post.data.heroImage}" does not exist in glob: "src/assets/hero-images/*.{jpeg,jpg,png,gif}"`)
})
---

<!doctype html>
<html lang="jp">
<head>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body>
<Header />
<main class="w-[960px]">
	<section>
		<ul class="flex flex-col gap-8 list-none py-4 max-md:gap-2">
			{
				posts.map((post) => (
					<li class="w-[80%-1rem] max-md:text-center max-md:w-full">
						<a
							class="group flex duration-[0.2s] ease-in-out rounded-lg border-[1px] border-slate-400 hover:border-red-700 items-center divide-x max-md:flex-col max-md:divide-y"
							href={`/blog/${post.slug}/`}>
							<Image class="flex-none w-[30%] p-2 rounded-2xl max-md:w-full" src={images[post.data.heroImage as string]()} alt="" />
							<div class="flex-1 px-4 py-2">
								<h5
									class="text-gray-600 font-bold leading-2 group-hover:text-red-700">{post.data.title}</h5>
								<p class="text-sm text-gray-500 group-hover:text-red-700">{post.data.description}</p>
								<p class="text-xs text-gray-500 text-right group-hover:text-red-700">
									<FormattedDate date={post.data.pubDate} />
								</p>
								{post.data.tags && post.data.tags.map((tag) => (
									<ContentTag name={tag} />
								))}
							</div>
						</a>
					</li>
				))
			}
		</ul>
	</section>
</main>
<Footer />
</body>
</html>
