---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from './FormattedDate.astro'
import { Image } from 'astro:assets'
import ContentTag from './ContentTag.astro'

interface Props {
	posts: {
		post: CollectionEntry<'blog'>
		imagePath: any
	}[]
}

const { posts } = Astro.props
---

<section>
	<ul class="flex flex-col min-h-[100vh] gap-8 list-none max-md:gap-2">
		{
			posts && posts.map(({ post, imagePath }: any) => (
				<li>
					<a
						class="group flex ease-in-out border rounded-lg border-slate-400 hover:border-red-700 items-center divide-x max-md:flex-col max-md:divide-y"
						href={`/blog/${post.slug}/`}>
						<Image class="w-[30%] p-2 max-md:w-full"
									 src={imagePath} alt="" />
						<div class="flex-auto p-2">
							<h5
								class="text-gray-600 font-bold leading-2 group-hover:text-red-700">{post.data.title}</h5>
							<p class="text-sm text-gray-500 group-hover:text-red-700">{post.data.description}</p>
							<p class="text-xs text-gray-500 text-right group-hover:text-red-700">
								<FormattedDate date={post.data.pubDate} />
							</p>
							<div class="max-md:text-center">
								{post.data.tags && post.data.tags.map((tag: any) => (
									<ContentTag name={tag} />
								))}
							</div>
						</div>
					</a>
				</li>
			))
		}
	</ul>
</section>