---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import FormattedDate from '../components/FormattedDate.astro'
import ContentTag from '../components/ContentTag.astro'

type Props = CollectionEntry<'blog'>['data'];

const { title, description, tags, pubDate, updatedDate, heroImage } = Astro.props
---

<html lang="jp">
<head>
	<BaseHead title={title} description={description} heroImage={heroImage} />
</head>

<body>
<Header />
<main>
	<article>
		<div class="w-full">
			{heroImage &&
				<img class="block mt-0 mr-auto mb-auto ml-auto rounded-xl" width={510} height={255}
						 src={heroImage} alt="" />}
		</div>
		<div class="w-[720px] max-w-full mx-auto text-gray-700">
			<div class="text-center">
				<h1 class="max-md:text-2xl">{title}</h1>
				<div class="text-gray-500 text-end">
					<FormattedDate date={pubDate} />
					{
						updatedDate && (
							<div class="italic">
								Last updated on
								<FormattedDate date={updatedDate} />
							</div>
						)
					}
				</div>
				<div class="my-5">
					{tags && tags.map((tag) => (
						<ContentTag name={tag} />
					))}
				</div>
				<hr />
			</div>
			<slot />
		</div>
	</article>
</main>
<Footer />
</body>
</html>
